/* navbar */
body{
  font-family: Helvetica;
}

nav img{
  height: 30px;
  margin: 20px 0
}

#navbar_top ul li{
  margin: 27px 0 25px 10px;
  font-size: 15px;
  padding: 0;
}

#navbar_top a{
  text-decoration: none;
  color: black;
}
