body{
  font-family: 'Ubuntu', sans-serif;
}

/* navbar */

nav{
  box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
  background-color: white;
}

nav img{
  height: 30px;
  margin: 30px 0
}

.navbar-toggle span{
  background-color: white !important;
  /* color: blue !important; */
}

.navbar-toggle{
  background-color: blue !important;
  /* color: blue !important; */
  margin: 30px 0;
  padding: 10px 10px;
}

#navbar_top ul li{
  margin: 30px 0 25px 10px;
  font-size: 15px;
  padding: 0;
}

#navbar_top ul:last-of-type{
  margin: 0;
}

#navbar_top a{
  text-decoration: none;
  color: black;
}

#navbar_top a:hover{
  text-decoration: none;
  color: blue;
}

#navbar_top .btn_top{
  margin: 0;
}

/* media query */

@media all and (min-width: 768px) and (max-width: 1199px), (max-width: 768px) {

  #navbar_center, #navbar_right{
    display: none;
  }

  .navbar-toggle{
    display: block
  }

  .chatbot_button img{
    height: 15%;
    position: fixed;
    bottom: 5em;
    left: 5em;
  }

}


/* header */

.jumbotron{
  margin-top: 80px;
  margin-bottom: 0;
  background-color: rgb(0, 105, 255);
  background-repeat: no-repeat;
}

.main_title{
  color: white;
  padding-right: 50px;
}

.box_form{
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 38px 20px;
}

.box_form button{
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}

.btn-blue{
  background-color: #1633FF !important;
  color: white !important;
}

.box_form h2{
  font-size: 2.5em;
}

.box_form h2:nth-child(2){
  color: blue;
}

.box_form p{
  font-size: 1em
}

.box_form img{
  height: 20px;
  display: inline;
  float: left;
}

/* main */

/* section LOGO */

#logo{
  padding: 40px 0 20px 0;
  background-color: #F3F5F9;
  text-align: center;
}

#logo img{
  height: 70px;
}

/* section DEPLOY */

#deploy{
  margin: 40px 0;
}

#deploy ul{
  margin-left: 40px
}

#deploy ul li{
  list-style: none;
  border-left: 1px solid grey;
  padding: 0 0 20px 10px;
}

#deploy p{
  color: grey;
  margin-bottom: 0;
}

#deploy .row:nth-child(2){
  margin-top: 40px;
}

.deploy_box{
  padding-right: 20px;
}

/* section DESIGNED */

#designed{
  background-color: #F3F5F9;
  padding: 50px 0;
  line-height: 40px;
}

#designed img{
  width: 70%;
}

#designed .image::before{
  font-family: 'Font Awesome 5 Free';
  content: "\f053";
  font-weight: 900;
  font-size: 5rem;
  color: grey;
  margin: 0 10px;
  cursor: pointer;
}

#designed .image::after{
  font-family: 'Font Awesome 5 Free';
  content: "\f054";
  font-weight: 900;
  font-size: 5rem;
  color: darkblue;
  margin: 0 10px;
  cursor: pointer;
}

/* section BUSINESS */

#business{
  padding: 50px 0;
}

/* section REGIONS */

#regions{
  padding: 50px 0;
  background-color: #1633FF;
  color: white;
}

#regions a{
  color: white;
}

#regions a::after{
  font-family: 'Font Awesome 5 Free';
  content: "\f054";
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
  padding: 0 0 0 10px;
}

.box_regions{
  height: 100%;
  padding-right: 3rem;
  margin-top: 2rem;
  margin-left: 15px;
}

#regions .col-lg-6 .row:not(:last-child){
  height: 100%;
  border-bottom: 1px solid white;
}

#regions .col-lg-6 .row{
  padding: 0.8rem 0;
}

/* section ROCKERBOX */

#rockerbox{
  padding: 50px 0;
  font-size: 2rem;
}

#rockerbox img{
  margin-bottom: 2rem;
  width: 40%;
}

.rocker_box{
  width: 65%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.55);
  margin: 30px auto;
  padding: 60px 0;
}

.fa-circle{
  color: blue;
  font-size: 2rem;
}

.fa-circle:hover{
  background-color: blue;
  border-radius: 100%;
}

#rockerbox .fa-chevron-left{
  font-size: 2.5em;
  float: right;
  margin: 220px 0;
}

#rockerbox .fa-chevron-right{
  font-size: 2.5em;
  float: left;
  margin: 220px 0;
}


/* section CREATE_ACCOUNT */

#create_account{
  padding: 50px 0;
  background-color: blue;
  color: white;
}

/* footer */

footer{
  padding: 50px 0;
  background-color: #010E28;
  color: #0080FF;
  font-size: 1.8rem;
}

footer ul li{
  list-style: none;
  margin-bottom: 1rem;
}

footer ul{
  margin: 0;
  padding: 0;
}

footer h4{
  color: white;
}

footer i{
  font-size: 2rem;
}

/* chatbot button */

.chatbot_button img{
  height: 10%;
  position: fixed;
  bottom: 5em;
  right: 5em;
}