body{
  /* font-weight: bold; */
}

/* navbar */

nav{
  box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
  background-color: white;
}

nav img{
  height: 30px;
  margin: 20px 0
}

#navbar_top .btn_menu{
  background: white !important;
  color: blue !important;
}

#navbar_top ul li{
  margin: 30px 0 25px 10px;
  font-size: 15px;
  padding: 0;
}

#navbar_top ul:last-of-type{
  margin: 0;
}

#navbar_top a{
  text-decoration: none;
  color: black;
}

#navbar_top a:hover{
  text-decoration: none;
  color: blue;
}

#navbar_top .btn_top{
  margin: 0;
}

@media all and (max-width: 768px) {

  #navbar_center, #navbar_right{
    display: none;
  }
}


/* header */

.jumbotron{
  margin-top: 80px;
  margin-bottom: 0;
  background-color: rgb(0, 105, 255);
  background-repeat: no-repeat;
}

.main_title{
  color: white;
  padding-right: 50px;
}

.box_form{
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 38px 20px;
}

.box_form button{
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}

.btn-blue{
  background-color: #1633FF !important;
  color: white !important;
}

.box_form h2{
  font-size: 2.5em;
}

.box_form h2:nth-child(2){
  color: blue;
}

.box_form p{
  font-size: 1em
}

.box_form img{
  height: 20px;
  display: inline;
  float: left;
}

/* main */

/* section LOGO */

#logo{
  padding: 40px 0 20px 0;
  background-color: #F3F5F9;
  text-align: center;
}

#logo img{
  height: 70px;
}

/* section DEPLOY */

#deploy{
  margin: 40px 0;
}

#deploy ul{
  margin-left: 40px
}

#deploy ul li{
  list-style: none;
  border-left: 1px solid grey;
  padding: 0 0 20px 10px;
}

#deploy p{
  color: grey;
}

#deploy .row:nth-child(2){
  margin-top: 40px;
}
